.form {
    display: inline-block;
    border: solid;
    padding: 24px;
}

.formLabel {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.btnForm {
    margin-top: 8px;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 6px;
    background-color: rgb(197, 248, 235);
    box-shadow: 0px 0px 1px 1px rgb(197,
        248,
        235);
}
.btnForm:hover{
    background-color: rgb(0, 136, 255);
    color: aliceblue;
    box-shadow: 0px 0px 1px 1px rgb(0,
        136,
        255);
    transition: 0.7s;   
}

